/* Estilo personalizado */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
  }

  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; /* Adicionado um espaço entre as imagens */
  }

  /* .modal-content {
    background-color: rgba(161, 167, 255, 0.8);
  } */
   .modal-backdrop.show {
    opacity: 0 !important;
  } 


  .image-stack {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
  }
  
  .image-stack img {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  
  